body{
    background-color: rgb(230, 200, 149);
}

#Contenedor{
    background-color: bisque;
    height: 1000px;
    width: 900px;
    margin-left: auto;margin-right: auto;
}

#Encabezado{
    background-color: rgb(230, 200, 149);
    height: 7.5%; /*15%*/
    border-width: 10em;
    border-color: black;
}

#Menu{
    background-color: rgb(171, 161, 134);
    height: 2.5%; /*5%*/
}

#Seccion{
    background-color: rgb(151, 158, 54);
    height: 64%;
    width: 60%;
    float: left;
}

#Aseccion{
    background-color: rgb(190, 193, 79);
    height: 64%;
    width: 38%;
    float: right;
}

#Pie{
    background-color: rgb(230, 200, 149);
    height: 10%;

}

ul{
    text-align: center;
}

li{
    display: inline;
}

.imagen{
    width: 100px;
    border-width: solid 1px;
    margin-left: 5px;margin-right: 5px;
}

.font{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.titulo{
    text-align: center;
}

.menu{
    text-align: center;
}

.contenidotitulo{
    text-align: justify;
    margin-left: 1em;
}

.contenido{
    text-align: start;
    margin-left: 3em;
    margin-right: 3em;
}

.pie{
    text-align: center;
    font-size: small;
}

